:root {
  --main-color: #6c63ff;
  --secondary-color: #f9f7fe;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}

body {
  font-family: var(--default-font-family);
}

*,
::after,
::before {
  box-sizing: border-box;
}

.nav-container {
  margin: 0;
  padding: 0 80px;
}

nav {
  padding: 20px 0;
}

nav img.logo {
  max-width: 150px;
  max-height: 40px;
}

nav img.small-logo {
  max-height: 40px;
  max-width: 50px;
}

nav ul {
  padding: 0;
  margin: 0;
}

nav li {
  display: inline;
  margin-left: 5px;
  line-height: 42px;
}

nav li a {
  color: black;
  text-decoration: none;
  font-size: 16px;
  line-height: 40px;
}

nav li a:hover,
nav li a.active {
  color: #6c63ff;
  transition: all 15ms ease-in-out;
}

div.hero {
  background-color: var(--secondary-color);
  padding: 160px 20px;
}

.about-container,
.projects-container,
.contact-container {
  padding: 160px 20px;
}

.contact-container {
  margin-left: 120px;
}
.content {
  margin: 30px;
}

h1,
h2 {
  font-family: var(--heading-font-family);
}

h1 {
  font-size: 64px;
  line-height: 86px;
  font-weight: 700;
}

.about-h1,
.project-h1,
.about-h2 {
  text-align: center;
}

.hero h1 {
  font-size: 96px;
  line-height: 1.5;
  margin: 0;
}

h2 {
  font-size: 18px;
  line-height: 27px;
  font-weight: 900;
}

h2.projects-heading {
  font-family: var(--heading-font-family);
  font-size: 64px;
  line-height: 84px;
  text-align: center;
}

.hero h2 {
  font-size: 24px;
  line-height: 1.5;
  font-family: var(--heading-font-family);
}

h3 {
  font-family: var(--default-font-family);
  font-size: 24px;
  line-height: 36px;
  font-weight: 700;
}

.hero p {
  font-size: 36px;
  font-weight: bold;
  color: #272142;
  margin: 0;
}

article {
  font-family: var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  color: #272142;
  opacity: 0.7;
}

button,
a.button {
  background-color: var(--main-color);
  border-color: var(--main-color);
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
  border-radius: 4px;
  text-decoration: none;
}

div.button {
  text-align: center;
  margin-top: 4 0px;
}

a.button {
  text-decoration: none;
}

a.button:hover {
  color: #212529;
  transition: all 150ms ease-in-out;
}

a.btn-style {
  display: block;
  margin: 0 auto;
}

a.btn-style button {
  background-color: white;
  color: var(--main-color);
  border: 1px solid var(--main-color);
}

a.footer,
a.my-projects {
  display: block;
  margin: 0 auto;
  text-align: center;
}

.float-left {
  text-align: left;
}

img {
  width: 100%;
  height: auto;
  max-width: 50vw;
}

footer {
  margin: 60px 0;
}

footer .email-link {
  text-decoration: none;
  color: #212529;
  font-size: 24px;
  text-align: center;
}

footer .email-link:hover {
  color: var(--main-color);
}

footer div.social-links {
  text-align: center;
}

footer .social-links a {
  background-color: var(--secondary-color);
  color: var(--main-color);
  margin: 0 20px;
  font-size: 18px;
  padding: 10px 15px;
  border-radius: 50%;
  transition: all 150ms ease-in-out;
}

footer .social-links a:hover {
  color: var(--secondary-color);
  background-color: var(--main-color);
}

@media (max-width: 900px) {
  h1,
  .hero h1 {
    font-size: 44px;
    line-height: 56px;
  }

  h2 {
    font-size: 34px;
    line-height: 44px;
  }

  .hero h2 {
    font-size: 24px;
    line-height: 34px;
  }

  .hero p {
    font-size: 20px;
    line-height: 25px;
    font-weight: bold;
  }

  a .footer,
  a .my-projects {
    display: block;
    margin: 0 auto;
    text-align: center;
  }
} ;
